@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;1,300;1,700&display=swap');
$font-family: 'IBM Plex Mono', monospace;

html,
body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🤙🏾</text></svg>") 16 0,auto;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font-family;
}
*:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 162, 255);
}
::selection {
  background-color: #013896;
  color: plum;
}
a {
  text-decoration: none;
  color: #404040;
  &:hover {
    text-decoration: underline;
  }
}
li {
  list-style-type:none;
}
.site-wrapper {
  padding: 3rem;
  max-width: 1140px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.warn {
  font-size: 12px;
  color: lightgray;
  text-align: center;
  padding-bottom: 3rem;
}
.no {
  font-size: 10px;
  padding-top: 30px;
}
.about {
  font-size: 1.5em;
  overflow: hidden;
  word-wrap: break-word;
}
.YouTube {
  width: 100%;
  height: 100vh;
}
.work {
  padding-top: 2rem;
  font-size: 1rem;
  line-height: 40px;
}
.mad-man {
  padding-top: 2rem;
}
a:hover {
  color: rgb(174, 6, 137);
  text-decoration: underline;
  font-style: italic;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>👈🏾</text></svg>") 16 0,auto;
}
.green:hover {
  color: rgb(127, 246, 27);
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>👆🏾</text></svg>") 16 0,auto; /*emojicursor.app*/
}
.orange:hover {
  color: orange;
}
.blue:hover {
  color: cornflowerblue;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>👨🏾</text></svg>") 16 0,auto; /*emojicursor.app*/
}
.yellow:hover {
  color: yellow;
}
.work-list {
  padding-left: 1rem;
}
ul li {
  display: inline;
}
.back-home {
  padding-top: 3rem;
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
  iframe {
    width: 100%;
    height: 700px;
    border-width: 0;
  }
  p {
    padding: 1rem 0;
  }
  p img {
    text-align: center;
  }
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.site-footer {
  text-align: center;
  color: #666;
  height: auto;
  padding: 5rem;
  a {
    font-weight: 700;
  }
}
.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}
